<p style="color: green"><%= notice %></p>

<%= render @user %>
<p>
  <strong>最初のマイクロポスト:</strong>
  <%= @user.microposts.first&.content %>
</p>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>